:root {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

body {
    background-color: #fff;
}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1300px;
}

/* Шрифты */

h2 {
    text-transform: uppercase;
    color: #cccccc;
}

/* Фон */

.bg-img {
    background-image: url("../../img/fon4.jpg");
    background-size: cover;
    background-position: center;
    height: 1600px;
    width: 100%;
    position: fixed;
    z-index: -2;
}

/* Появление элементов */

._anim-show-top,
._anim-show-left {
    opacity: 0;
    transition: 2s;
}

._anim-show-top {
    transform: translate(0, 100px);
}

._anim-show-left {
    transform: translate(50px, 0);
}

._anim-show-top._active, 
._anim-show-left._active{
    opacity: 1;
    transform: translate(0, 0);
}

/*  */
