.btn-up {
  position: fixed;
  background-color: #30363d;
  font-size: max(1rem, 12px);
  left: 1em;
  bottom: 2em;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out;
  color: #fff;
  width: 3em;
  height: 3em;
  opacity: 1;
  transform: translateY(0);
  z-index: 999;
}

.btn-up_hide {
  display: none;
}

.btn-up_hiding {
  opacity: 0;
  transform: translateY(100px);
}

.btn-up-icon {
  width: 2em;
  height: 2em;
  fill: currentcolor;
}