.about {
  /* height: 600px; */
  margin-top: -5vw;
  width: 100%;
  position: relative;
  /* margin-top: 1000px; */
}

.bg-cow1 {
  background-image: url("../../img/cow3_2-min.png");
  width: 50%;
  height: 35vw;
  top: -13vw;
  left: 0;
}

.about__wrapper {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0,
    rgba(227, 227, 227, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  position: relative;
  z-index: 6;
}

.info {
  margin-top: 3.4rem;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
}

.info__item {
  margin-bottom: 50px;
  display: flex;
  position: relative;
  /* z-index: 9; */
}

.info__item:last-child {
  margin-bottom: 0;
}

.info__card {
  padding: 3rem;
  max-width: 32vw;
  color: #fff;
  border-radius: 15px;
  position: relative;
  margin: 0 auto;
  left: 20rem;
  overflow: hidden;
  /* box-shadow: 0 0 40px 0px rgba(0,0,0,.3); */
}

.info__card-bg {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  /* transform: scale(1.2); */
  /* background-image: url("../../img/spot2.png"); */
  background-size: 100% 100%;
  opacity: 1;
  background-position: center center;
  background: -webkit-linear-gradient(
    135deg,
    rgb(56 192 255 / 80%),
    rgb(0 154 223 / 80%)
  );
  background: -moz-linear-gradient(
    135deg,
    rgb(56 192 255 / 80%),
    rgb(0 154 223 / 80%)
  );
  background: linear-gradient(
    135deg,
    rgba(28, 183, 255, 0.8),
    rgba(0, 136, 199, 0.904)
  );
  transition: 1s;
}

.info__item:nth-child(even) .info__card {
  left: -20rem;
}

.info__img-wrapper {
  width: 37rem;
  height: 100%;
  position: absolute;
  bottom: 0;
  /* transform: translateY(-50%); */
  /* background-color: #000; */
  left: 0;
}

.info__item-img {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
  /* z-index: 544; */
}

/* .about ._anim-show-bottom._active {
    transform: translateY(0);
} */

.info__item:nth-child(even) .info__img-wrapper {
  left: auto;
  right: 0;
}

.info__desc._anim-show-right,
.info__desc._anim-show-left {
  transition: 2s 0.3s;
}
