.header {
    position: fixed;
    z-index: 999;
    width: 100%;
    background: 0 0;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.8) 1%,rgba(0,0,0,0) 100%);
    background-repeat: repeat-x;
    padding: 40px 0;
    transition: .7s;
}

.header__container {
    max-width: 1400px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list {
    display: flex;
}

.header__nav-link {
    color: #fff;
    letter-spacing: 1.5px;
    transition: .3s;
    position: relative;
    opacity: .9;
}

.header__nav-link::before {
    position: absolute;
    content: '';
    background-color: #2db2ff;
    height: 2px;
    box-shadow: 0 0 20px 2px #2db2ff;
    width: 0px;
    opacity: 0;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: .4s;
}

.header__nav-link:hover {
    text-shadow: 0 0 1px #fff;
    opacity: 1;
}

.header__nav-link:hover::before {
    width: 100%;
    opacity: 1;
}

.header__nav-list > li {
    margin-right: 40px;
}

.header__nav-list > li:last-child {
    margin-right: 0;
}

.header__tel {
    display: flex;
}

.header__tel-numbers {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__phone {
    color: #fff;
    display: block;
    font-size: 18px;
}

/* .header__call {
    display: block;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px #fff;
    padding: 17px 30px;
    color: #000;
    font-weight: 400;
    transition: .7s;
}

.header__call:hover {
    background-color: #0099ff;
    color: #fff;
    box-shadow: 0 0 15px 2px #0099ff;
    transform: scale(1.07);
} */

.scrollNav {
    background-color: rgba(8, 22, 38, 0.7);
    padding: 15px 0;
    transition: .7s;
}

.header__btn {
    margin: 3px 0;
}

.header__logo {
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: 0 0 10px -5px #fff;
}