.partners {
  width: 100%;
  position: relative;
  margin-top: -5vw;
  z-index: 0;
  padding: 6rem 0 9rem;
}

.partners img {
  width: 200px;
}

.partners__swiper {
  margin-top: 70px;
  margin-bottom: 20px;
  position: relative;
}

.partners__link {
  box-shadow: 0 0 40px -10px #000;
  width: 300px;
  height: 200px;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  transition: 0.5s;
  /* filter: blur(5px); */
}

.partners__link:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px -10px #fff;
}
