.projects {
    margin-top: -5vw;
}

.projects__wrapper {
    background: linear-gradient(to bottom,rgba(255,255,255,1) 0,rgba(227,227,227,1 ) 50%, rgba(255,255,255,1 ) 100%);
    /* height: 600px; */
    width: 100%;
    position: relative;
    z-index: 4;
}

.projects__title {
    margin-top: 30px;
    font-size: 40px;
    /* text-transform: uppercase; */
    font-weight: 700;
    color: #ababab;
    position: relative;
    display: inline-block;

}

._active.projects__title::before {
    content: '';
    position: absolute;
    height: 4px;
    /* width: 100%; */
    border-radius: 10px;
    top: 58px;
    left: 0;
    background-color: #2db2ff;
    animation: underline 1.4s ease-out .5s forwards;
}

.projects__desc {
    margin-top: 30px;
    color: #787878;
}

.projects__benefits-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 90px;
}

.projects__benefits-card {
    /* perspective: 1000px; */
    transition: 1s;
    opacity: 0;
    transform: translateY(100px);


}

.projects__benefits-card-item {
    transform-style: preserve-3d;
    margin: 0 40px 100px;
    transform: translateY(100px);
    width: 380px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
    min-height: 250px;
    background: -webkit-linear-gradient(135deg, rgb(56 192 255 / 80%), rgb(0 154 223 / 80%));
    background: -moz-linear-gradient(135deg, rgb(56 192 255 / 80%), rgb(0 154 223 / 80%));
    background: linear-gradient(135deg, rgb(0 65 114 / 80%), rgb(0 150 219 / 80%));
    color: #fff;
    box-shadow: 0 0 40px -17px #000;
}


.projects__benefits-card._active {
    transform: translateY(0px);
    opacity: 1;
}

.benefits__icon {
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0px);
    width: 100px;
    opacity: 0;
    height: 100px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2db2ff;
    /* border: 3px solid #fff; */
    box-shadow: 0 0 40px -17px #000;
    top: 0px;
    transition: transform .7s, background-color .7s, top .7s .4s, opacity .7s .4s;
}

.projects__benefits-card._active .benefits__icon {
    top: -50px;
    opacity: 1;
}

.benefits__icon svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.benefits__icon path {
    fill: #fff;
    transition: .7s;
}

.projects__benefits-card-item:hover .benefits__icon{
    transform: translate3d(-50%, 0, 40px);
    background-color: rgb(255, 255, 255);
}

.projects__benefits-card-item:hover .benefits__icon path {
    fill: rgb(95, 95, 95);
}

.projects__benefits-card-desc {
    /* position: relative; */
    margin-top: 45px;
    /* top: 80px; */
    /* transform: translate3d(0, -50%, 0); */
    transition: .7s;
}

.projects__benefits-card-item:hover .projects__benefits-card-desc {
    transform: translate3d(0, 0, 40px);
}

.projects__benefits-card-title {
    font-size: 22px;
    opacity: 0;
    transform: translateX(-30px);
    transition: 1s .8s;
    position: relative;
}

.projects__benefits-card-title::before {
    content: '';
    position: absolute;
    bottom: -10px;
    border-radius: 10px;
    height: 2px;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2db2ff;
    transition: 1.5s 1.3s;
}

.projects__benefits-card._active .projects__benefits-card-title::before{
    width: 100%
}

.projects__benefits-card-text {
    margin-top: 30px;
    /* font-size: 17px; */
    line-height: 20px;
    opacity: 0;
    transform: translateX(-30px);
    transition: 1s 1s;
}

.projects__benefits-card._active .projects__benefits-card-title,
.projects__benefits-card._active .projects__benefits-card-text {
    opacity: 1;
    transform: translateX(0);
}

@keyframes underline {
    0% {
        width: 0;
    }

    100% {
        width: 40%;
    }
}